article{
    width: 400px;
    border: 1px solid #70706e;
    padding: 10px;
}

.article-image{
    width: 380px;
}

.article-content{ 
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #70706e;
}