.mainContainer {
    background-color: #36AFE9;
    /* You can pick the color codes from https://htmlcolorcodes.com/ */
    width: 60%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    height: 100px;
}

.timeContainer {
    font-size: 5px;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.controls {
    padding: 10px;
    margin-bottom: 2px;
    background-color: #DAE4E9;
}

button{
    padding: 10px;
    background-color: #0F5F88;
    color: #ffffff;
    border: 1px solid black;
    width: 100%;
}